.header {
    width: inherit;
    height: 48px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 14px 20px;
    border-bottom: 1px solid rgba(25, 118, 210, 0.25);
    background: #FFF;
    margin-bottom: 24px;
};

.nav {
    display: flex;
}

.navlinkHeader{
     margin-right: 12px;
     color: #1976D2;
    border: 1px solid rgba(25, 118, 210, 0.25);
    padding: 7px 12px;
    border-radius: 8px;
}

.navlinkHeader:hover {
    background-color: rgba(25, 118, 210, 0.25);
}