.contacts {
    list-style: none;
    padding: 0;
    width: 300px;
    margin-top: 32px;
}

.itemcontact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.pItem {
    margin: 0;
}

.buttonremove {
    height: 24px;
    border-radius: 4px;
    border: none;
    background-color: #BBD1EB;
}

.buttonremove:hover,
.buttonremove:active {
    background-color: #707D8C;
}